<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Shop_Project_WinForm.Properties.Settings.QLCHQAConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=QLCHQA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Shop_Project_WinForm.Properties.Settings.QLCHQAConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=QLCHQA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>